{{#each this as |recipe|}}
  <article class="recipe-tile">
    <figure>
      <img class="recipe-tile__img">
      <figcaption class="recipe-tile__text">
        <div class="recipe-tile__text-flex">
          <h2 class="recipe-tile__text-title">{{recipe.name}}</h2>
          <p class="recipe-tile__text-time"><b>{{recipe.time}} min</b></p>
        </div>
        <div class="recipe-tile__text-flex">
          <ul class="recipe-tile__text-ingredients">
            {{#each recipe.ingredientsQuantity as |ingredient|}}
              <li>{{{ingredient}}}</li>
            {{/each}}
          </ul>
          <p class="recipe-tile__text-description">{{recipe.description}}</p>
        </div>
      </figcaption>
    </figure>
  </article>
{{/each}}